* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../../assets/citizen_kane.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  font-family: Montserrat;
  color: white;
  font-size: 20px;
}

.header {
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  &--avatar {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px black;
  }
  &--nav {
    margin-left: 225px;
    &__item {
      display: inline;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }
}
.subheader {
  display: flex;
  align-items: center;
  text-indent: 11px;
  background-color: rgba($color: #000000, $alpha: 0.785);
  height: 40px;
  width: 100%;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  float: right;
  background-color: rgba(0, 0, 0, 0.6);
  &--first {
    width: 50px;
    height: 50px;
    margin-top: 18px;
    margin-right: 10px;
  }
  &--not_first {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
  }
}

.gradient {
  position: absolute;
  bottom: 25%;
  height: 25%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 1)
    );
}

.footer {
  height: 33.33%;
  width: 100%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
}

.movie {
  position: absolute;
  width: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  &--poster {
    width: 125px;
  }
  >li {
    position: relative;
    width: 125px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  font-size: 40px;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #444444;
  scale: -1 1;
}
